@mixin scrollable-list {
    max-height: 100%;
    overflow-y: auto;
    @include inset-shadow;
}

@mixin inset-shadow {
    box-shadow: 1px 2px 3px 0px inset rgba(0, 0, 0, 0.2);
}

@mixin light-shadow {
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
}

@mixin light-shadow-svg {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}

@mixin comment {
    .comment {
        margin: 0;
        padding: 0.5rem;
        font-size: 0.8rem;
        color: #888;
    }
}