@mixin scrollable-list {
    max-height: 100%;
    overflow-y: scroll;
    @include inset-shadow;
}

@mixin inset-shadow {
    box-shadow: 1px 2px 3px 0px inset rgba(0, 0, 0, 0.2);
}

@mixin light-shadow {
    box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
}

@mixin light-shadow-svg {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}

@mixin v-input-details {
    .v-input {
        position: relative;

        & :deep(.v-input__details) {
            position: absolute;
            min-height: 0;
            z-index: 5;
            padding-inline-start: 0;
            padding-inline-end: 0;
            padding: 0;
            margin-top: 0.25rem;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

            &>div {
                background-color: white;
                padding: 0.5rem !important;
                border-radius: 5px;
                opacity: 1.0;

                &:empty {
                    display: none;
                }
            }
        }
    }
}